
#logo{

    width: 5rem;
    height: 2rem ;
}


#fin::marker {
    color: green; /* bullet color */
}
#and::marker {
    color: red;
}

#foto {
    width: 99vw;
    height: 50rem;   
}


#li1 {
    background-color: #27323f;
    border-bottom-color: rgba(255, 255, 255, 0.5);
    color: white;
}  

#texto1 {
    padding: 0px 0px; 
    width: 30vw; 
    height: auto;
    position: absolute;
    display: block;
    overflow: hidden !important; 
    text-overflow: ellipsis;
    margin-top: -45rem; 
    margin-bottom: 0vw;
    margin-right: 10vw;
    margin-left: 62vw; 
    background-color: black; 
    text-shadow: #99be1569 0.2em 0.2em 0.1em; 
    font-family: Helvetica Neue, Arial, sans-serif;   
}

#txt2 {
    background-color: rgba(255, 255, 255, 0.493); 
}

/*animation: go-back 1s infinite alternate;

@keyframes go-back {
    from {
      transform: translateX(5px);
    }
    to {
      transform: translateX(2px);
    }
  }

  rgb(82, 82, 82)
  */